.wrapper{
    background-color: aquamarine;
    border-radius: 10px;
    height: 100vh;
    margin: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    box-sizing: content-box;
}